<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
	<br/>
	<b>Published:</b>
	<span class='pub_date'> 
	<%= @post.created_at.to_date%></span>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag @post.news_photo.url(:medium) %>
</p>
<p>
  <b>Content:</b>
  <%= @post.content %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h3>Comments</h3>
