<h1>/Post</h1>

<p>
  <b>Title</b><br>
  <%= @post.title %>
</p>

<p>
  <b>Photo:</b><br>
  <%= image_tag @post.news_photo.url(:medium) %>
</p>

<p>
  <b>Content</b><br>
  <%=  sanitize (@post.content) %>  <!-- is it safe ? deos sanitize html tag protection --> 
</p>	

<p>
	<b>Published by:</b>
	<span class='pub_name'> 
	<%= @post.user.display_name%></span>
</p>

<p>
	<b>Published on:</b>
	<span class='pub_date'> 
	<%= @post.created_at.to_date%></span>
</p>
<div class="location">
	<h1>Location</h1>
	<p>
	<b>Address</b><br>
	<%= @post.location.address.camelcase %>
	</p>
	<p>
	<b>Latitude</b><br>
	<%= @post.location.latitude %>
	</p>
	<p>
	<b>Longitude</b><br>
	<%= @post.location.longitude %>	
	<%= gmaps("markers" => {"data" => @json},
	 "map_options" => {"processing" => "json", "auto_adjust" => true,"center_on_user" => true , "auto_zoom" => false, "zoom" => 15}) %>
	
	
</div>
<div class="form-actions">
  <%= link_to 'Back', posts_path, :class => 'btn'  %>
	<% if current_user and @post.user==current_user%>
  <%= link_to 'Edit', edit_post_path(@post), :class => 'btn' %>
  <%= link_to 'Delete', post_path(@post), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn
 btn-danger' %>
	<% end %>
</div>
<%= render  :partial => '/comments/form' %>

